*.so
*.SO
.project
.classpath
.settings
*~
*.log
*.log.lck
*/assets/*
*/OpenAL64.dll
*/lwjgl64.dll
#Ignore everything in /target except site
**/classes/*
**/dochtml/*
**/generated/*
**/generated_sources/*
**/maven-status/*
!**/site/*